node_modules
/public/hot
/public/storage
/public/js/*
!/public/js/.gitkeep
/public/css/app.css
/public/mix-manifest.json
/public/css
/public/build
/public/screenshot/*
!/public/screenshot/.gitkeep
/storage/*.key
/vendor
.env
.env.*
auth.json
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.npmrc
.secret
_ide_helper.php
.phpstorm.meta.php
.phpunit.cache

/helm/charts
.secrets
